.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  .team-list {
    display: flex;
    margin-left: -30px;
  }
  
  .team-list__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-list__content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .team-list__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
  }
  
  .team-social-list {
    display: flex;
    justify-content: center;
  }
  
  .team-social__item {
    & + & {
    margin-left: 10px;
  }
}
  
  .team-social__link {
    width: 44px;
    height: 44px;
    background-color: var(--hero-title-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
    background-color: var(--accent-color);
  }
  }
  
  .team-social__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team-social__link:focus & {
      fill: #ffffff;
    }

    .team-social__link:hover & {
      fill: #ffffff;
    }
  }
  
  
  
  
  
  