:root {
  --title-color: #212121;
  --text-color: #757575;
  --logo-second-color: #000000;
  --hero-title-color: #ffffff;
  --background-color: #ffffff;
  --background-hero: #2f303a;
  --accent-color: #4D5AE5;
}
